@font-face {
    font-family: 'armwrestlerbold';
    src: url('../fonts/armwrestler/ArmWrestler-webfont.eot');
    src: url('../fonts/armwrestler/ArmWrestler-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/armwrestler/ArmWrestler-webfont.woff') format('woff'),
         url('../fonts/armwrestler/ArmWrestler-webfont.ttf') format('truetype'),
         url('../fonts/armwrestler/ArmWrestler-webfont.svg#armwrestlerbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'abeezeeregular';
    src: url('../fonts/abee/abeezee-regular-webfont.eot');
    src: url('../fonts/abee/abeezee-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abee/abeezee-regular-webfont.woff') format('woff'),
         url('../fonts/abee/abeezee-regular-webfont.ttf') format('truetype'),
         url('../fonts/abee/abeezee-regular-webfont.svg#abeezeeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}